.modal {
  font-family: 'Montserrat', sans-serif;

  & .modal-dialog {
    & .modal-content {
      margin-top: 100px;

      & .modal-body {
        & .class {

        }
        & .modal-title {
          color: #004988;
          font-weight: bold;
          font-size: 50px;
          line-height: 1;

          & .modal-subtitle {
            color: black;
            font-weight: normal;
            font-size: 20px;
          }
        }
        & form {
          & .form-group {

          }
        }

        & .timer-container-count {
          height: 100px;
          margin: 0 auto;
          margin-bottom: 20px;

          &-title {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
          }

          & .countdown-week {
            & .lightcountdown__item {
              & .lightcountdown__digits {
                & .lightcountdown__digit {
                  background-color: #004988;
                  color: #f6f305;
                }
              }

              & .lightcountdown__text {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}